<h1>Login Page</h1>
<!--input vendor  -->
<!--submit button  -->
<!--make action  -->
<!--decide on method GET or POST  -->


<form action="/login" method="POST">
  Vendor <input type="text" name="login[vendor_name]" method=POST/>

  <button name="login[button]">Submit</button>

  <button name="login[button]">Signup</button>


<form>
