<h2>Markets and their vendors</h2>

<% @markets.each do |market| %>
  <div class = "markets">
    <h3><%= market.name %></h3>
    <ul>
    <% market.vendors.each do |vendor| %>
      <li><%= vendor.name %></li>
    <% end %>
    </ul>
  </div> <!-- /market class -->
<% end %>
