<h2>PRODUCTS PAGE!!!</h2>

<% if @current_vendor %>
  <p> Hi <%= @current_vendor.name %></p>
  <p> Your current market is <%= @current_vendor.market.name %></p>
  <p> Below is a list of your products and their prices in cents </p>
  <ul>
    <% @current_vendor.products.each do |product| %>
      <li><%= product.name %> | <%= product.price %></li>
      <% end %>
      <form method="get" action="/products/new">
        <button type="submit">Add New Product</button>
      </form>
      <form method="get" action="/products/delete">
          <button type="submit">Delete Product</button>
      </form>
    </ul>
<% else %>
    <p> YOU ARE NOT LOGGED IN YO. </p>
<% end %>
    
