<h2>PRODUCTS PAGE!!!</h2>

<% if @current_vendor %>
  <p> Hi <%= @current_vendor.name %></p>
  <ul>
    <% @current_vendor.products.each do |product| %>
      <li><%= product.name %></li>
      <% end %>
    </ul>

    <form method="get" action="/products/new">
      <button type="submit">Add New Product</button>
    </form>
<% else %>
  <p> YOU ARE NOT LOGGED IN YO. </p>
<% end %>
