<!-- Add a new Product to the databse -->

<h2>Add New Product</h2>

<!-- add product to database though vendor -->

<!--input vendor  -->
<!--submit button  -->
<!--make action  -->
<!--decide on method GET or POST  -->



<form action="/products/new" method="POST">
  Product <input type="text" name="product[name]" />
  Price <input type="text" name="product[price]" />

  <button name="[button]">Submit</button>


<form>
