<div class="brand">
  <h1>FarMarDotChelle</h1>
</div>

<div class="nav">
  <ul class="horizontal-links">
    <li><a href="#">About</a></li>
    <li><a href="#">Markets</a></li>
    <li><a href="#">Vendors</a></li>
    <li><a href="#">Products</a></li>
  </ul>
</div>

<div class="login_status">
  <h3><%= @login_status.inspect %></h3>
</div>
